html {
    position: relative;
    min-height:100%;
}

body {
    background: url("https://i.giphy.com/l2Jeai4sW0NCl4cla.gif") no-repeat center;
    background-size: cover;
}

canvas {
    height: 100px;
    width: 100px;
}

.error {
    color: red;
}

body.stop-scrolling {
    height: 100%;
    overflow: hidden;
}